name: .Tests

on:
  workflow_call:

jobs:
  vars:
    name: Variables
    runs-on: ubuntu-24.04
    outputs:
      semver: ${{ steps.semver.outputs.version }}
      tag: ${{ steps.semver.outputs.tag }}
    steps:
      # steps.semver.outputs.tag => needs.vars.outputs.semver
      - uses: actions/checkout@v6
        with:
          ref: refs/heads/${{ github.event.repository.default_branch }}
      - name: Conventional Changelog Update
        uses: TriPSs/conventional-changelog-action@84dadaf2c367cb52af02737cd9c7e888807219e7 # v6.2.0
        id: semver
        with:
          git-branch: refs/heads/${{ github.head_ref }}
          git-push: "false"
          skip-commit: "true"
          skip-on-empty: "false"
          skip-version-file: "true"

      - run: |
          echo "semver=${{ steps.semver.outputs.version }}"
          echo "tag=${{ steps.semver.outputs.tag }}"

  tests-java:
    name: Library Tests
    needs: [vars]
    if: github.event_name != 'pull_request' || !github.event.pull_request.draft
    runs-on: ubuntu-24.04
    steps:
      - uses: bcgov/action-test-and-analyse-java@7c7309721cae054b3e837c723afa4efb4b1a256d # v1.1.0
        name: Core Coverage
        with:
          commands: |
            mvn -B verify -P all-tests checkstyle:checkstyle -Dcheckstyle.skip=false --file pom.xml
          dir: core
          java-cache: maven
          java-distribution: temurin
          java-version: "17"
          sonar_args: >
            -Dsonar.organization=bcgov-sonarcloud
            -Dsonar.projectKey=bcgov_nr-forest-client-commons
            -Dsonar.coverage.jacoco.xmlReportPaths=target/coverage-reports/merged-test-report/jacoco.xml        
            -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml
            -Dsonar.coverage.exclusions= **/dto/**,**/*$*Builder*
          sonar_token: ${{ secrets.SONAR_TOKEN_COMMONS }}
          triggers: ('core/')

      - uses: bcgov/action-test-and-analyse-java@7c7309721cae054b3e837c723afa4efb4b1a256d # v1.1.0
        name: Spring Coverage
        with:
          commands: |
            mvn -B verify -P all-tests checkstyle:checkstyle -Dcheckstyle.skip=false -Dcore.version=${{ needs.vars.outputs.semver }}.PR${{ github.event.number }} --file pom.xml
          dir: spring
          java-cache: maven
          java-distribution: temurin
          java-version: "17"
          sonar_args: >
            -Dsonar.organization=bcgov-sonarcloud
            -Dsonar.projectKey=bcgov_nr-forest-client-commons
            -Dsonar.coverage.jacoco.xmlReportPaths=target/coverage-reports/merged-test-report/jacoco.xml        
            -Dsonar.java.checkstyle.reportPaths=target/checkstyle-result.xml
            -Dsonar.coverage.exclusions=**/configuration/**,**/exception/**,**/dto/**,**/entity/**,**/models/**,**/repository/**,**/*$*Builder*,**/ApplicationConstant*
          sonar_token: ${{ secrets.SONAR_TOKEN_COMMONS }}
          triggers: ('spring/')

      - name: Archive CycloneDX
        continue-on-error: true
        uses: actions/upload-artifact@v5
        with:
          name: cyclone-backend
          path: |
            core/target/bom.json
            spring/target/bom.json
          retention-days: 5

      - name: Checkstyle report
        continue-on-error: true
        uses: jwgmeligmeyling/checkstyle-github-action@master
        with:
          path: (core|spring)/**/checkstyle-result.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v6
        continue-on-error: true
        if: github.event_name == 'pull_request' && (success() || failure())
        with:
          report_paths: (core|spring)/target/**/TEST-*.xml
          commit: ${{ github.event.pull_request.head.sha }}
          summary: Pull Request Tests for Backend
          detailed_summary: true
          job_name: Backend Tests

      - name: Add coverage to PR
        id: jacoco
        continue-on-error: true
        if: github.event_name == 'pull_request'
        uses: madrapps/jacoco-report@94dfcf8dae9680be2cfa714ca37fb37790bd7663 # v1.6
        with:
          paths: (core|spring)/target/coverage-reports/merged-test-report/jacoco.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 75
          min-coverage-changed-files: 75
