name: Pull Request Close

on:
  pull_request:
    types:
      - closed

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

jobs:
  vars:
    name: Variables
    runs-on: ubuntu-24.04
    outputs:
      semver: ${{ steps.semver.outputs.version }}
      tag: ${{ steps.semver.outputs.tag }}
    steps:
      # steps.semver.outputs.tag => needs.vars.outputs.semver
      - uses: actions/checkout@v6
        with:
          ref: refs/heads/${{ github.event.repository.default_branch }}
      - name: Conventional Changelog Update
        uses: TriPSs/conventional-changelog-action@5f00b899ccbbcbc112bd6d715d5e76e7a9e4501d # v6.1.0
        id: semver
        with:
          git-branch: refs/heads/${{ github.head_ref }}
          git-push: "false"
          skip-commit: "true"
          skip-on-empty: "false"
          skip-version-file: "true"

      - run: |
          echo "semver=${{ steps.semver.outputs.version }}"
          echo "tag=${{ steps.semver.outputs.tag }}"
  cleanup-jars:
    name: Cleanup Dev Images
    runs-on: ubuntu-24.04
    needs: [vars]
    env:
      NAME: ${{ github.event.repository.name }}
    steps:
      - name: Checkout branch
        uses: actions/checkout@v6

      - name: Conventional Changelog Update
        continue-on-error: true
        uses: TriPSs/conventional-changelog-action@5f00b899ccbbcbc112bd6d715d5e76e7a9e4501d # v6
        id: changelog
        with:
          github-token: ${{ github.token }}
          output-file: "CHANGELOG.md"
          skip-version-file: "true"
          skip-commit: "true"
          git-push: "false"
          skip-on-empty: "false"

      - name: Removing dev core
        uses: paulushcgcj/delete-github-package@c4ecb4c7b65e8eabc137389cd9b0096c7ee3963b # 1.0.0
        continue-on-error: true
        with:
          token: ${{ secrets.PAT }}
          type: maven
          name: ca.bc.gov.nrs-commons.forest-client-core
          version: ${{ needs.vars.outputs.semver }}.PR${{ github.event.number }}
          user: ${{ github.repository_owner }}

      - name: Removing dev spring
        uses: paulushcgcj/delete-github-package@c4ecb4c7b65e8eabc137389cd9b0096c7ee3963b # 1.0.0
        continue-on-error: true
        with:
          token: ${{ secrets.PAT }}
          type: maven
          name: ca.bc.gov.nrs-commons.forest-client-spring
          version: ${{ needs.vars.outputs.semver }}.PR${{ github.event.number }}
          user: ${{ github.repository_owner }}
