name: Pull Request Close

on:
  pull_request:
    types:
      - closed

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}
  cancel-in-progress: true

permissions: {}

jobs:
  vars:
    name: Variables
    runs-on: ubuntu-24.04
    outputs:
      semver: ${{ steps.semver.outputs.version }}
      tag: ${{ steps.semver.outputs.tag }}
    steps:
      # steps.semver.outputs.tag => needs.vars.outputs.semver
      - uses: actions/checkout@v5
        with:
          ref: refs/heads/${{ github.event.repository.default_branch }}
      - name: Conventional Changelog Update
        uses: TriPSs/conventional-changelog-action@5f00b899ccbbcbc112bd6d715d5e76e7a9e4501d # v6.1.0
        id: semver
        with:
          git-branch: refs/heads/${{ github.head_ref }}
          git-push: "false"
          skip-commit: "true"
          skip-on-empty: "false"
          skip-version-file: "true"

      - run: |
          echo "semver=${{ steps.semver.outputs.version }}"
          echo "tag=${{ steps.semver.outputs.tag }}"


